<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %> 
<body>
    <% const outerDivId = "notes-grid-view-main-content" %> 
    <% const innerDivClass = "notes-grid-view-individual-note-div" %> 
    <header id = "notes-header">
        <div id = "notes-title-div">
            <h1>Sticky Notes</h1>
        </div>
        <div id = "notes-link-div">
            <h4>
                <a id = "home-link" title = "Home" href = "/">🏠</a>      
            </h4>
            <h4>
                <a id = "about-link" title = "About" href = "/about">🔍</a>
            </h4>
            <h4>
                <a id = "create-link" title = "New Note" href = "/notes/create">📝</a>
            </h4>
            <h4>
                <a id = "view-link" title = "New Note" href = "/notes">
                    <span id = "notes-grid-view-list-link"class="material-icons">
                        view_list
                    </span>
                </a>
            </h4>
            
        </div>
    </header>
    <main id = "notes-main">
        <div id = "notes-search-content">
            <input id = "notes-input" placeholder = "Search note title here" autofocus type = "text"/>
            <i id = "notes-search-icon" class = "material-icons">search</i>
        </div>
        <div id = "<%= outerDivId %>">
            <% if(!notes.length){ %> 
                <h3>No notes to display...</h3>
            <% }else{ %>
                <% notes.forEach(note => { %> 
                    <% const notePath = `/notes/${note._id}` %> 
                    <a class = "notes-grid-view-notes-link" href = <%= notePath %> title = "Go to this note" >
                        <div class = "<%= innerDivClass %>">
                            <h2 class = "notes-grid-view-note-title"><%= note.title %> </h2>
                            <h4 class = "notes-grid-view-note-subject"><%= note.subject %> </h4>
                            <p class = "notes-grid-view-note-body"><%= note.body %> </p>
                        </div>
                    </a>
                <% }) %> 
            <% } %> 
        </div> 
    </main>
    <%- include("../partials/footer.ejs") %> 
    <script src = "/js/search.js" notes = '<%= JSON.stringify(notes) %>' outerDivId = <%= outerDivId %>  innerDivClass = <%= innerDivClass %> ></script>
    <!-- in order to pass parameters in script tag first stringify the parameter value
    and then parse while receiving the value in javascript file -->
</body>
</html>